input {
  max-width: 50%;
  margin: 10px 0 0 0;
  min-height: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #a0d2eb;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  margin: 250px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

div > label {
  display: block;
  margin: 0.5rem 0;
}

button {
  display: block;
  margin: 1em auto;
  font-size: 1.1rem;
  background-color: aliceblue;
  border-color: red;
}

button::hover {
  background-color: red;
  cursor: pointer;
}
