.user-information {
  margin: 12px auto;
  background-color: #ffffff;
  border: 1px solid #c9c9c9;
  width: 60%;
  border-radius: 12px;
  display: flex;
  box-shadow: aqua;
  justify-content: space-between;
  align-items: center;
  padding: 6px 24px;
  font-weight: 600;
  cursor: pointer;
}

.user-information:hover {
  background-color: #f4f4f4;
  box-shadow: 0px 0px 0px red, 0.2em 0 0.4em #ccc;
}

.action-icons {
  display: flex;
}

.action-btn {
  border-radius: 50%;
  background-color: #4681f4;
  border-color: black;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 0px;
  color: #ffffff;
}


.action-btn:hover  {
  background-color: #ffffff;
  color: #4681f4;
  transition: all 0.4s ease-in-out;

}

.action-icon:hover {
  color: #4681f4;
}


