.userdetails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.userdetails-body {
  border: 2px solid black;
  background-color: aqua;
}

.userdetails-body:hover {
  background-color: black;
  color: aqua;
}

ul {
  list-style: none;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 800;
}
.userdetails-heading {
  margin: auto;
}

.userdetails-ul {
  max-width: 50%;
  padding: 20px 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.goback-btn {
  background-color: skyblue;
  border-radius: 6px;
  padding: 8px;
  border-width: 0px;
  cursor: pointer;
  /* width: 20%; */
  word-wrap: break-word;
  background-color: red;
}

.goback-btn:hover {
  background-color: burlywood;
  color: blue;

}
