.App {
  font-family: sans-serif;
  height: 100vh;  /*takes up entire height of the viewport*/
  overflow-y: scroll; /*makes the content not to overflow outside the container*/
  width: 100%;
}



* {
  margin: 0;
  box-sizing: border-box;
}


button {
  word-wrap: break-word;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}


#headerDiv {
  text-align: center;
}